.container {
    max-width: 70vh;
    margin: 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .block1 {
    flex:1;
    background-color: #f2f2f2;
    padding: 50px;
    margin-bottom: 0px;
    box-sizing: border-box;
    border: 2px solid #a03c3c;
  }
  .block2 {
    flex:1;
    background-color: #f2f2f2;
    padding: 50px;
    margin-bottom: 0px;
    box-sizing: border-box;
    border: 2px solid #a03c3c;
  }

  .block3 {
    flex: 1;
    background-color: #f2f2f2;
    padding: 50px;
    margin-bottom: 0px;
    box-sizing: border-box;
    border: 2px solid #a03c3c;
  }
  .block4 {
    flex: 1;
    background-color: #f2f2f2;
    padding: 50px;
    margin-bottom: 0px;
    box-sizing: border-box;
    border: 2px solid #a03c3c;
  }
  

  .block1 h2 span {
    color: rgb(132, 59, 59);
    content: attr(data-number);
    display: inline-block;
    width: 1em; /* Ширина псевдоелементу */
    height: 1em; /* Висота псевдоелементу */
    border: 2px solid rgb(132, 59, 59); /* Товщина та колір межі */
    border-radius: 50%; /* Радіус для зроблення кола */
    text-align: center; /* Центрування тексту */
    line-height: 1em; /* Збігається з висотою, щоб текст був по центру */
    margin-right: 0.1em; /* Зазор між кругом і текстом */
  }

  .block2 h2 span {
    color: rgb(132, 59, 59);
    content: attr(data-number);
    display: inline-block;
    width: 1em; /* Ширина псевдоелементу */
    height: 1em; /* Висота псевдоелементу */
    border: 2px solid rgb(132, 59, 59); /* Товщина та колір межі */
    border-radius: 50%; /* Радіус для зроблення кола */
    text-align: center; /* Центрування тексту */
    line-height: 1em; /* Збігається з висотою, щоб текст був по центру */
    margin-right: 0.1em; /* Зазор між кругом і текстом */
  }
  .block3 h2 span {
    color: rgb(132, 59, 59);
    content: attr(data-number);
    display: inline-block;
    width: 1em; /* Ширина псевдоелементу */
    height: 1em; /* Висота псевдоелементу */
    border: 2px solid rgb(132, 59, 59); /* Товщина та колір межі */
    border-radius: 50%; /* Радіус для зроблення кола */
    text-align: center; /* Центрування тексту */
    line-height: 1em; /* Збігається з висотою, щоб текст був по центру */
    margin-right: 0.1em; /* Зазор між кругом і текстом */
  }
  .block4 h2 span {
    color: rgb(132, 59, 59);
    content: attr(data-number);
    display: inline-block;
    width: 1em; /* Ширина псевдоелементу */
    height: 1em; /* Висота псевдоелементу */
    border: 2px solid rgb(132, 59, 59); /* Товщина та колір межі */
    border-radius: 50%; /* Радіус для зроблення кола */
    text-align: center; /* Центрування тексту */
    line-height: 1em; /* Збігається з висотою, щоб текст був по центру */
    margin-right: 0.1em; /* Зазор між кругом і текстом */
  }

  .container .block1 ul li:nth-child(even),
  .container .block2 ul li:nth-child(even),
  .container .block3 ul li:nth-child(even),
  .container .block4 ul li:nth-child(even) {
    color: red;
  }
